# Air Pollution: Exploratory Data Analysis (EDA)

In this notebook we will explore the air pollution training data for our joint machine learning project. 

Add some details
neuefische
ds-20250225
group members

## Set up

In [ ]:
# Import packages

# basics
import pandas as pd
import numpy as np

# plotting
import matplotlib as plt
import seaborn as sns

# warnings
import warnings
warnings.filterwarnings('ignore')

## Load data

In [2]:
# load training data
df = pd.read_csv('data/Train.csv')

## Explore data frame

In [3]:
df.head()

,Place_ID X Date,Date,Place_ID,target,target_min,target_max,target_variance,target_count,precipitable_water_entire_atmosphere,relative_humidity_2m_above_ground,...,L3_SO2_sensor_zenith_angle,L3_SO2_solar_azimuth_angle,L3_SO2_solar_zenith_angle,L3_CH4_CH4_column_volume_mixing_ratio_dry_air,L3_CH4_aerosol_height,L3_CH4_aerosol_optical_depth,L3_CH4_sensor_azimuth_angle,L3_CH4_sensor_zenith_angle,L3_CH4_solar_azimuth_angle,L3_CH4_solar_zenith_angle
0,010Q650 X 2020-01-02,2020-01-02,010Q650,38.0,23.0,53.0,769.50,92,11.000000,60.200001,...,38.593017,-61.752587,22.363665,1793.793579,3227.855469,0.010579,74.481049,37.501499,-62.142639,22.545118
1,010Q650 X 2020-01-03,2020-01-03,010Q650,39.0,25.0,63.0,1319.85,91,14.600000,48.799999,...,59.624912,-67.693509,28.614804,1789.960449,3384.226562,0.015104,75.630043,55.657486,-53.868134,19.293652
2,010Q650 X 2020-01-04,2020-01-04,010Q650,24.0,8.0,56.0,1181.96,96,16.400000,33.400002,...,49.839714,-78.342701,34.296977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,010Q650 X 2020-01-05,2020-01-05,010Q650,49.0,10.0,55.0,1113.67,96,6.911948,21.300001,...,29.181258,-73.896588,30.545446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,010Q650 X 2020-01-06,2020-01-06,010Q650,21.0,9.0,52.0,1164.82,95,13.900001,44.700001,...,0.797294,-68.612480,26.899694,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns.to_list()

### Columns
- ```Place_ID X Date```
- ```Date```
- ```Place_ID```
- ```target```
- ```target_min```
- ```target_max```
- ```target_variance```
- ```target_count```
- ```precipitable_water_entire_atmosphere```
- ```relative_humidity_2m_above_ground```
- ```specific_humidity_2m_above_ground```
- ```temperature_2m_above_ground```
- ```u_component_of_wind_10m_above_ground```
- ```v_component_of_wind_10m_above_ground```
- ```L3_NO2_NO2_column_number_density```
- ```L3_NO2_NO2_slant_column_number_density```
- ```L3_NO2_absorbing_aerosol_index```
- ```L3_NO2_cloud_fraction```
- ```L3_NO2_sensor_altitude```
- ```L3_NO2_sensor_azimuth_angle```
- ```L3_NO2_sensor_zenith_angle```
- ```L3_NO2_solar_azimuth_angle```
- ```L3_NO2_solar_zenith_angle```
- ```L3_NO2_stratospheric_NO2_column_number_density```
- ```L3_NO2_tropopause_pressure```
- ```L3_NO2_tropospheric_NO2_column_number_density```
- ```L3_O3_O3_column_number_density```
- ```L3_O3_O3_effective_temperature```
- ```L3_O3_cloud_fraction```
- ```L3_O3_sensor_azimuth_angle```
- ```L3_O3_sensor_zenith_angle```
- ```L3_O3_solar_azimuth_angle```
- ```L3_O3_solar_zenith_angle```
- ```L3_CO_CO_column_number_density```
- ```L3_CO_H2O_column_number_density```
- ```L3_CO_cloud_height```
- ```L3_CO_sensor_altitude```
- ```L3_CO_sensor_azimuth_angle```
- ```L3_CO_sensor_zenith_angle```
- ```L3_CO_solar_azimuth_angle```
- ```L3_CO_solar_zenith_angle```
- ```L3_HCHO_HCHO_slant_column_number_density```
- ```L3_HCHO_cloud_fraction```
- ```L3_HCHO_sensor_azimuth_angle```
- ```L3_HCHO_sensor_zenith_angle```
- ```L3_HCHO_solar_azimuth_angle```
- ```L3_HCHO_solar_zenith_angle```
- ```L3_HCHO_tropospheric_HCHO_column_number_density```
- ```L3_HCHO_tropospheric_HCHO_column_number_density_amf```
- ```L3_CLOUD_cloud_base_height```
- ```L3_CLOUD_cloud_base_pressure```
- ```L3_CLOUD_cloud_fraction```
- ```L3_CLOUD_cloud_optical_depth```
- ```L3_CLOUD_cloud_top_height```
- ```L3_CLOUD_cloud_top_pressure```
- ```L3_CLOUD_sensor_azimuth_angle```
- ```L3_CLOUD_sensor_zenith_angle```
- ```L3_CLOUD_solar_azimuth_angle```
- ```L3_CLOUD_solar_zenith_angle```
- ```L3_CLOUD_surface_albedo```
- ```L3_AER_AI_absorbing_aerosol_index```
- ```L3_AER_AI_sensor_altitude```
- ```L3_AER_AI_sensor_azimuth_angle```
- ```L3_AER_AI_sensor_zenith_angle```
- ```L3_AER_AI_solar_azimuth_angle```
- ```L3_AER_AI_solar_zenith_angle```
- ```L3_SO2_SO2_column_number_density```
- ```L3_SO2_SO2_column_number_density_amf```
- ```L3_SO2_SO2_slant_column_number_density```
- ```L3_SO2_absorbing_aerosol_index```
- ```L3_SO2_cloud_fraction```
- ```L3_SO2_sensor_azimuth_angle```
- ```L3_SO2_sensor_zenith_angle```
- ```L3_SO2_solar_azimuth_angle```
- ```L3_SO2_solar_zenith_angle```
- ```L3_CH4_CH4_column_volume_mixing_ratio_dry_air```
- ```L3_CH4_aerosol_height```
- ```L3_CH4_aerosol_optical_depth```
- ```L3_CH4_sensor_azimuth_angle```
- ```L3_CH4_sensor_zenith_angle```
- ```L3_CH4_solar_azimuth_angle```
- ```L3_CH4_solar_zenith_angle```